@model TechSolutions.Web.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
}

<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <div class="card shadow-sm">
                <div class="card-header bg-light">
                    <h4 class="mb-0">Customer Details</h4>
                </div>

                <div class="card-body">
                    <dl class="row mb-4">
                        <dt class="col-sm-4">First Name</dt>
                        <dd class="col-sm-8">@Model.FirstName</dd>

                        <dt class="col-sm-4">Surname</dt>
                        <dd class="col-sm-8">@Model.SurName</dd>

                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">@Model.Email</dd>

                        <dt class="col-sm-4">Date Of Birth</dt>
                        <dd class="col-sm-8">@Model.DateOfBirth</dd>

                        <dt class="col-sm-4">Phone</dt>
                        <dd class="col-sm-8">@Model.Phone</dd>
                    </dl>

                    <div class="d-flex justify-content-between">
                        <a asp-action="Index" class="btn btn-outline-secondary">
                            Back to List
                        </a>

                        <a asp-action="Edit"
                           asp-route-id="@Model.ID"
                           class="btn btn-primary">
                            Edit Customer
                        </a>

                        <a asp-controller="Addresses"
   asp-action="ByCustomer"
   asp-route-customerId="@Model.ID"
   class="btn btn-outline-primary">
    View Addresses
</a>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
